POSTGRES_DB=rideflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

POSTGRES_USER_DB=user_db
POSTGRES_USER_USER=postgres
POSTGRES_USER_PASSWORD=postgres

POSTGRES_DRIVER_DB=driver_db
POSTGRES_DRIVER_USER=postgres
POSTGRES_DRIVER_PASSWORD=postgres

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

KAFKA_BROKER_INTERNAL=kafka:9092
KAFKA_BROKER_EXTERNAL=localhost:9094
KAFKA_CLIENT_ID=rideflow
