PORT=3002
NODE_ENV=development

DATABASE_URL=postgresql://USER:PASSWORD@localhost:5433/user_db

JWT_ACCESS_SECRET=

KAFKA_BROKERS=localhost:9094
KAFKA_CLIENT_ID=rideflow-user-service
KAFKA_CONSUMER_GROUP_ID=user-service-group
