PORT=3000
NODE_ENV=development

JWT_ACCESS_SECRET=

AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
DRIVER_SERVICE_URL=http://localhost:3003
LOCATION_SERVICE_URL=http://localhost:3004

ALLOWED_ORIGINS=*

THROTTLE_TTL=60000
THROTTLE_LIMIT=100
THROTTLE_AUTH_LIMIT=10